Import libraries

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

Creating a chart

In [10]:
plt.rcParams["figure.figsize"] = [7.00, 3.50]
plt.rcParams["figure.autolayout"] = True
columns = ["first_name", "last_name","sex", "country", "job_title","start_date","salary"]
df = pd.read_csv("employees.csv", usecols=columns)
print("Contents in csv file:", df)
plt.plot(df.firstName, df.lastName, df.sex, df.country, df.jobTitle, df.startDate, df.salary)
plt.show()

Contents in csv file:    first_name   last_name     sex         country  \
0       Lucho      Maytum    Male  United Kingdom
1    Torrance      Brandi    Male  Czech Republic
2      Missie       Kulic  Female          Poland
3      Rickie  Somerville    Male  Czech Republic
4       Gawen     Richarz    Male          Poland
5     Sadella   Batterham  Female  Czech Republic
6     Meghann       Dance  Female  Czech Republic
7     Obidiah    Bradburn    Male  Czech Republic
8       Dolph     Mesnard    Male  Czech Republic
9      Fabien  McLanaghan    Male  Czech Republic
10     Shaina   Gaveltone  Female          Poland
11  Annemarie      Albers  Female          Poland
12      Erinn      Borell  Female  Czech Republic
13     Loydie  Cubbinelli    Male  Czech Republic
14   Osbourne       Rawet    Male          Poland
15     Ettore       Ernke    Male          Poland
16     Mortie    Goodayle    Male  Czech Republic
17   Courtnay      Creevy    Male  Czech Republic
18   Rochella        Slym  Female          Poland
19    Frannie    McMorran    Male          Poland

                               job_title start_date     salary
0            Mechanical Systems Engineer  2/10/2016  148308.96
1                              Paralegal  8/12/2020   57026.74
2   Business Systems Development Analyst  2/21/2015  133566.77
3                     Speech Pathologist  3/11/2014   53750.68
4                 Senior Cost Accountant  7/19/2019  115606.12
5                Assistant Media Planner  1/14/2017  136875.05
6                       Media Manager II  6/10/2014   44973.70
7                    Geological Engineer  12/2/2010   64912.33
8               Automation Specialist II  7/21/2012   82159.90
9                       Graphic Designer  12/1/2021   63059.52
10                       Web Designer II  9/12/2010   21228.29
11          Structural Analysis Engineer  3/12/2020  109840.09
12                  Help Desk Technician  11/6/2011   22500.03
13              Systems Administrator IV  5/13/2014   34415.64
14                  Office Assistant III  8/12/2021   41511.02
15              Environmental Specialist  3/14/2022  103866.10
16                      Product Engineer  5/18/2011   40060.88
17                       Legal Assistant  1/14/2015   57492.08
18              Account Representative I  10/5/2019  105826.54
19          Budget/Accounting Analyst II  3/31/2020   39107.88

AttributeError: 'DataFrame' object has no attribute 'firstName'